@import "tailwindcss";

@theme {
  --font-sans: "SF Pro", sans-serif;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html,
  body {
    font-family: "SF Pro";
    src: url("/fonts/SF-Pro.ttf") format("truetype");
    font-weight: 400;
    letter-spacing: 0.015em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
  }
}
