DATABASE_URL= Database URL
ALEMBIC_DATABASE_URL= Database URL Alembic version
SECRET_KEY= Secret key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
SUPABASE_URL= Supabase URL
SUPABASE_SERVICE_ROLE_KEY= Supabase Key
SUPABASE_BUCKET= Name of the Bucket
FRONTEND_URL= Frontend URL or localhost